MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/lms?retryWrites=true&w=majority
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=7d
GEMINI_API_KEY=AIzaSyCvEOww4QTTfzDoDh3tX-bs3leo0Il7cP4
GEMINI_MODEL=gemini-2.5-flash
SMTP_USER=your_email@example.com
SMTP_PASS=your_app_password
SMTP_FROM_NAME=AtomAcademy
SMTP_FROM_EMAIL=your_email@example.com
APP_BASE_URL=http://localhost:3000
REACT_APP_API_BASE_URL=http://localhost:5000
YT_API_KEY=your_youtube_data_api_key
YT_QUERY=course
YT_QUERY_FEATURED=
YT_QUERY_POPULAR=
YT_MAX_RESULTS=6
YT_REGION_CODE=
YT_SAFE_SEARCH=moderate
YT_CHANNELS=
YT_SEARCH_QUERIES=4g silver academy,error makes clever,program with mosh,bro code
